@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto");
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    position:relative;
    z-index: 100;
    flex-basis: 60px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

    background-color: #3C3C3C;
    color: #FFFFFF;
}
header .header-logo {
    height: 50px;
    margin: 5px 30px;
}
header .header-logo h1 {
    font-size: 24px;
    line-height: 30px;
}
header .header-logo p {
    font-size: 12px;
    line-height: 20px;
}

main {
    flex-basis: 100%;
    display: flex;
    position: relative;
}

.scenarios {
    margin: 0 10px;
    flex-basis: 75%;
    display: flex;
}

/*
 *    SCENARIO-FULL
 */

.scenario-full {
    margin: 45px 10px;
    flex: 1;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.scenario-full .scenario-header {
    border-radius: 15px 15px 0 0;
    height: 60px;
    background-color: rgba(224, 58, 58, 0.5);
}

.scenario-full .scenario-header h2{
    text-align: center;
    font-style: normal;
    font-size: 25px;
    line-height: 60px;
}



/*
 *    SCENARIO-SECTIONS AND SCENARIO-LINES
 */

.scenario-section-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.scenario-section-body {

}

.scenario-line {
    display: inline;
}

.scenario-line-caption p {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
}

.scenario-line-button .incrementer-button {
    display: inline;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.incrementer-button input {
    width: 20px;
    text-align: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: #BCBCBC;
}

.incrementer-button button {
    width: 14px;
    background-color: white;
    color: black;
    border: 1px solid #BCBCBC;
}

.incrementer-button button:hover {
    background-color: #BCBCBC;
    color: white;
    cursor: pointer;
}


.incrementer-button-minus {
    border-radius: 3px 0 0 3px;
}

.incrementer-button-plus {
    border-radius: 0 3px 3px 0;
}


/*
 *    SCENARIO-EMPTY
 */

.scenario-empty {
    margin: 45px 10px;
    flex: 1;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px dashed #000000;
}

.scenario-empty .scenario-body img {

    transition-timing-function: ease;
    width: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.scenario-empty .scenario-body img:hover {
    transition-timing-function: ease;

    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.results {
    flex-basis: 25%;
    /* background-color: #BCBCBC; */
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


/*
 *    RESULTS
 */
.results-header {

}
