/*noinspection ALL,CssUnknownTarget,CssUnknownTarget*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/roboto.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial;
}
html {
  min-width: 1133px;
}
body {
}
